.gamblingWrap {
   background-color: #15091F;
   padding: 4px;
}

.gamblingCont {
   border: 1px solid #FFE600;
   border-radius: 20px;
   max-width: 412px;
   margin: 0 auto;
}

.gamblingWindows, .gamblingWindowsFake {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 0;
}

.gamblingWindowsFake {
   flex-direction: row-reverse;
}


.gamblingWindowsItem {
   width: 150px;
   height: 80px;
   margin: 0 6px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
}

.gamblingWindowsItemList {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.gamblingWindowsItemListItem {
   width: 150px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.animationItem {
   opacity: 0;
}

.animationItem-enter {
   opacity: 1;
}

.animationItem-enter-active {
   transform: translateX(-50%) translateY(-85%);
   transition: transform 600ms;
}

.animationItem-exit-active {
   opacity: 0;
}

.animationItem-exit-done {
   opacity: 0;
}

@media (max-width: 550px) {

   .gamblingWindowsItem {
      width: 90px;
      height: 60px;
   }

   .gamblingWindowsItemListItem {
      width: 90px;
      height: 60px;
   }

}

